@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Roboto);
}

:root {
    --white: #f9f9f9;
    --azulclarissimo: #E6FFFD;
    --roxo: #B799FF;
    --azulmedio: #ACBCFF;
    --azulclaro: #AEE2FF;
    --black21: #212121;
    --bg-black: #212121e7;
    --red-avisos: #ff3c3c;
    --green-avisos: #4cff3c;
    --Roboto: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: linear-gradient(#00000080, #00000080),url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--black21);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    display: inline-block;
    width: 4vw;
    height: 4vw;
    position: relative;
    border: 0.2vw solid var(--white);
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--white);
    animation: loader-inner 2s infinite ease-in;
}
/* Fim Loading */

.container {
    padding: 2rem;
    background-color: var(--bg-black);
    width: 500px;
    height: 450px;
    border-radius: 5px;
}

.form {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    animation: surgirLoginCadastro .8s;
}

.form.aberto {
    display: flex;
}

.titulo {
    color: var(--white);
    font-size: 3.5rem;
}

.container-campos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all .4s ease;
}

.form-group {
    position: relative;
    max-width: 100%;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--azulclaro);
}

.form-group i {
    padding: 8px;
    background-color: transparent;
    color: var(--white);
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
}

.input-group {
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input {
    padding: 8px 0;
    background-color: transparent;
    color: var(--white);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-weight: 300;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
    font-size: 1.5rem;
    transition: 0.5s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label, 
.input-group input.filled ~ label {
    top: 0;
    font-size: 1.2rem;
}

.botao {
    background-color: var(--azulmedio);
    color: var(--black21);
    padding: 10px;
    width: 20rem;
    max-width: 75%;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    transition: all .3s ease;
    cursor: pointer;
}

.aviso {
    color: var(--red-avisos);
    display: none;
    font-size: 1.4rem;
}

.aviso-login.animar, 
.aviso-cadastro.animar, 
.aviso-email-invalido.animar {
    animation: enfatizarEmailSenhaInvalido 1s;
}

.botao:hover {
    filter: brightness(1.2);
}

.txt-final {
    color: var(--azulclarissimo);
    font-size: 1.4rem;
}

.txt-final em {
    color: var(--azulmedio);
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
}

.modal {
    background-color: var(--black21);
    position: fixed;
    bottom: -100%;
    left: 0;
    padding: 20px;
    width: 100%;
    transition: all .8s ease;
}

.modal.aberto{
    animation: surgirModal 4s;
}

.sucesso {
    color: var(--green-avisos);
    font-size: 1.8rem;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(180deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    75% {
        transform: rotate(360deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    
    25% {
        height: 0%;
    }
    
    50% {
        height: 100%;
    }
    
    75% {
        height: 100%;
    }
    
    100% {
        height: 0%;
    }
}

@keyframes surgirLoginCadastro {
    0% {
        opacity: 0;
        transform: translateY(-3%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes surgirModal {
    0% {
        bottom: -100%;
    }

    35% {
        bottom: 0;
    }

    65%{
        bottom: 0;
    }

    100% {
        bottom: -100%;
    }
}

@keyframes enfatizarEmailSenhaInvalido {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100%{
        transform: translateX(0);
    }
}

@media Screen and (max-width: 540px){
    .container {
        width: 100%;
        min-height: 90vh;
    }

    .titulo {
        font-size: 2.5rem;
    }

    .input-group input {
        font-size: 1.6rem;
    }
}